<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carte IGN avec Légende</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css">
    <link rel="stylesheet" href="styles.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    <div id="map"></div>
    <div class="layer-toggle">
        <img src="icon/sa.png" id="toggle-btn" class="layer-thumbnail" title="Changer de fond">
    </div>
    <div class="cadastre-toggle">
        <input type="checkbox" id="cadastreCheckbox"> Afficher le cadastre
    </div>

    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
    <script src="script.js"></script> <!-- Lien vers le fichier JavaScript -->
</body>
</html>