<form onsubmit="return false;">
    <!-- Creation du formulaire -->
    <div class="container" id="formulaire">
        <div class="section">PROCHAIN CONTACT</div>
        <div class="form-group"><label>Date :</label> <input type="date"></div>
        <div class="form-group"><label>Moment de la journée :</label> <input type="text"></div>
        <div class="form-group"><label>Type de contact :</label> <input type="text"></div>

        <div class="section">INFORMATIONS</div>
        <div class="form-group"><label>Nom Client :</label> <input type="text"></div>
        <div class="form-group"><label>Adresse Client :</label> <input type="text"></div>
        <div class="form-group"><label>Complément d'adresse :</label> <input type="text"></div>
        <div class="form-group"><label>Téléphone :</label> <input type="tel"></div>
        <div class="form-group"><label>Email :</label> <input type="email"></div>
        <div class="form-group"><label>Société :</label> <input type="text"></div>

        <div class="section">COMMERCIAL</div>
        <div class="form-group"><label>Date de création :</label> <input type="date"></div>
        <div class="form-group"><label>Assigné à :</label> <input type="text"></div>

        <br>
        <div class="section">DONNÉES DE PROSPECTION</div>
        <div class="form-group"><label>Nombre d'équipement :</label> <input type="number"></div>
        <div class="form-group"><label>Équipement privilégié :</label> <input type="text"></div>
        <div class="form-group"><label>Maturité digitale :</label> <input type="text"></div>
        <div class="form-group"><label>Attente service :</label> <input type="text"></div>
        <div class="form-group"><label>Craintes par rapport au service :</label> <input type="text"></div>

        <div class="section">RENSEIGNEMENTS LOGICIELS</div>
        <div class="form-group"><label>Suite bureautique :</label> <input type="text"></div>
        <div class="form-group"><label>Logiciel de gestion de process (ERP) :</label> <input type="text"></div>
        <div class="form-group"><label>Logiciel de facturation :</label> <input type="text"></div>
        <div class="form-group"><label>Sauvegarde :</label> <input type="text"></div>
        <div class="form-group"><label>Site Web :</label> <input type="text"></div>
        <div class="form-group"><label>Nom de domaine :</label> <input type="text"></div>
        <div class="form-group"><label>Coûts globaux :</label> <input type="number"></div>

        <!-- Bouton d'enregistrement pdf -->
        <button type="button" id="enregPdfButton">Enregistrer en PDF</button>
    </div>

    <!-- Link les differents fichiers annexes (css, js) -->
    <link rel="stylesheet" href="index.css">
    <script src="index.js"></script>
</form>